@charset "UTF-8";

@font-face {
  font-family: 'NanumSquare';
  font-weight:100;
  src: url(./NanumSquareL.eot)
       url(./NanumSquareL.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareL.woff) format('woff'),
       url(./NanumSquareL.ttf) format('truetype');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight:500;
  src: url(./NanumSquareR.eot)
       url(./NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareR.woff) format('woff'),
       url(./NanumSquareR.ttf) format('truetype');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight:600;
  src: url(./NanumSquareB.eot)
       url(./NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareB.woff) format('woff'),
       url(./NanumSquareB.ttf) format('truetype');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight:700;
  src: url(./NanumSquareEB.eot)
       url(./NanumSquareEB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareEB.woff) format('woff'),
       url(./NanumSquareEB.ttf) format('truetype');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight:100;
  src: url(./NanumSquareRoundL.eot)
       url(./NanumSquareRoundL.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareRoundL.woff) format('woff'),
       url(./NanumSquareRoundL.ttf) format('truetype');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight:500;
  src: url(./NanumSquareRoundR.eot)
       url(./NanumSquareRoundR.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareRoundR.woff) format('woff'),
       url(./NanumSquareRoundR.ttf) format('truetype');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight:600;
  src: url(./NanumSquareRoundB.eot)
       url(./NanumSquareRoundB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareRoundB.woff) format('woff'),
       url(./NanumSquareRoundB.ttf) format('truetype');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'NanumSquareRound';
  font-weight:700;
  src: url(./NanumSquareRoundEB.eot)
       url(./NanumSquareRoundEB.eot?#iefix) format('embedded-opentype'),
       url(./NanumSquareRoundEB.woff) format('woff'),
       url(./NanumSquareRoundEB.ttf) format('truetype');
  unicode-range: U+0-10FFFF;
}

/**navigation(topmenu)**/
.menu_bar {
    position:sticky;
    top:0;
    width:100%;
    background:white;
    padding-top:10px;
    padding-bottom:10px;
    opacity: 0.8;
    z-index: 999;
}

.top_menu {
  align-items: center;
  display:grid;
  grid-template-columns: 150px 1fr;

}

.left_menu {
  margin:0;
  padding-left:15px;
}

.left_menu img {
  width:70px;
  height:87px;
  opacity: 1;
}

.right_menu {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-right:15px;
  font-size:25px;
  font-weight:600;
}

.right_menu a {
  color:black;
  font-family:"NanumSquareRound", sans-serif;
  font-weight:800;
  text-decoration:none;
  padding-left:10px;
  padding-right:10px;
  margin:0px;
  opacity: 1;
}

/**responsive_check**/
@media(max-width:742px) {
  .left_menu {
    padding-bottom:15px;
  }
  .right_menu a {
    line-height:30px;
    font-size: 18px;
  }
}

.toppage_img {
 padding:30px;
 padding-top:10px;
 padding-bottom:100px;
}

.toppage_img img {
 text-align:center;
 width:100%;
}

/**common**/
h2 {
  font-family: 'NanumSquareRound';
  font-weight:800;
  margin:40px;
  font-size: 40px;
}

@media(max-width:742px) {
  h2 {
    margin:20px;
    font-size: 40px;
  }
}


/**section-introduction**/
.intro_description {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding:30px;
  padding-bottom:100px;
}

/**introtext_LizNoir-text**/
.intro_LizNoir, .intro_idolypride {
  margin:0px;
  padding:30px;
  padding-top:0px;
}

.intro_LizNoir p {
  font-family:"NanumSquare", sans-serif;
  font-weight:500;
  margin:0px;
  padding:10px;
}

.intro_LizNoir p {
  font-size:18px;
}

.intro_LizNoir {
  margin-bottom:50px;
}

/**introtext_idolypride**/
.intro_idolypride {
  padding-top:0px;
}

.intro_idolypride h3, .intro_idolypride p {
  font-family:"NanumSquare", sans-serif;
  font-size:14px;
  margin:0px;
  padding:10px;
}

/**intro_img**/
.intro_img_LizNoir, .intro_img_idolypride {
  padding-right:15px;
}

/**css의 의문점: class로 부른 태그에서 왜 더 선택자를 지정해야 기준이 먹히는지?
-> 근데 이제 좀 알 거 같음... 이미지로 비교해서 공간 확인하면 감이 좀 옴...
전체를 규격화하는 거랑 부분을 규격화하는 것에는 검사에서 보니 확실히 차이가 좀
있더라..**/
.intro_img_LizNoir img, .intro_img_idolypride img {
  width:100%;
  padding:15px;
  padding-top:0px;
}

.intro_img_idolypride img {
  padding-top:0px;
}

/**responsive_check**/
@media(max-width:1115px) {
  .intro_description {
    display:grid;
    grid-template-columns: 1fr;
  }

  .intro_LizNoir {
    padding-top:30px;
    margin-bottom:60px;
    order:2;
  }

  .intro_LizNoir p, .introduction_text h3 {
    text-align:center;

  }

  .intro_img_LizNoir {
    order:1;
    padding-right:0px;
  }

  .intro_img_LizNoir img {
    padding:0px;
  }

  .intro_idolypride {
    text-align: center;
    order:4;
  }

  .intro_img_idolypride {
    order:3;
  }
}





/**introduction Member**/
.intro_member {
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-right:10px;

}

#rio, #aoi, #ai, #kokoro {
  display:grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding:0px;
  border-radius: 20px;
  margin:20px;
  margin-bottom: 120px;
  font-family:"NanumSquare", sans-serif;
}

#rio .img, #aoi .img, #ai .img, #kokoro .img {
  display:block;
  background-size:cover;
  padding-top: 30%;
}

#rio {
  background: #b34e86;
}

#aoi {
  background: #747ebc;
}

#ai {
  background: #80cef5;
}

#kokoro {
  background: #f29db4;
}

#rio .img {
  background-image: url('https://idolypride.jp/shared/img/character/c14_main_a_pc.png');
}

#aoi .img {
  background-image: url('https://idolypride.jp/shared/img/character/c15_main_a_pc.png');
}

#ai .img {
  background-image: url('https://idolypride.jp/shared/img/character/c16_main_a_pc.png');
}

#kokoro .img {
  background-image: url('https://idolypride.jp/shared/img/character/c17_main_a_pc.png');
}

.profile_main {
  display:flex;
  flex-wrap: nowrap;
  flex-direction:column;
}

.profile1, .profile2 {
  padding:10px;
  padding-left:20px;
  color:white;
  font-size:15px;
}

.profile1 h3 {
  padding:4px;
  border-bottom: 3px solid white;
  font-size: 24px;
  margin-bottom:0px;
  color:white;
}

.profile1 h4 {
  margin-top:2px;
  padding:4px;
  color:white;
}

.profile2 dl {
  display: table;
  width: 100%;
  font-size: 13px;
}

.profile2 dt, dd {
  padding-bottom: 7px;
  border-bottom: 1px solid white;
}

.profile2 dt {
  display: table-cell;
  width: 30%;
  position: relative;
}

.profile2 dd {
  margin-left:15px;
  position: relative;
}

/**responsive_check**/
@media(max-width:1136px) {
  .intro_member{
    display:grid;
    grid-template-columns: 1fr;
  }
}

@media(max-width:578px) {
  .intro_member, #rio, #aoi, #ai, #kokoro {
    display:grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  #rio .img, #aoi .img, #ai .img, #kokoro .img {
    display:block;
    background-size:cover;
    padding-top: 120%;
  }

  .profile1, .profile2 {
    padding-top:0px;
    padding-bottom:0px;
    color:white;
    font-size:15px;
  }

  .img {
    order:1;
  }

  .profile_main {
    order:2;
  }
}





/**section-Discography**/
.album_list ul {
  list-style:none;
  display:grid;
  grid-template-columns: 400px 1fr;
  grid-row-gap: 50px;
}

.thumbnail {
  text-align: center;
}

.description p
{
 font-family: "NanumSquare",sans-serif;
}

.category, .release_date, .title, .prize, .catalog {
  margin:0px;
}

.title {
  font-size: 40px;
  font-weight: bolder;
}

.release_date, .prize, .catalog {
  font-size:15px;
}

.tracklist {
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left:30px;
}

.comment
 {
  font-size:12px;
  padding-right:20%;
}

.category {
  padding-left: 8px;
  padding-right:8px;
  display:inline;
  font-size: 12px;
  color:white;
}

.Single .category {
  background-color:darkblue;
}

.Other .category {
  background-color:darkslategray;
}

.discography h4 {
  font-family: "NanumSquareRound", sans-serif;
  font-weight:700;
  margin: 50px;
  font-size:24px;
}

.discography img {
  width:300px;
}

/**responsive_check**/
@media(max-width:720px) {
  .album_list ul {
    display:grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
    padding:20px;
  }

  .discography h4 {
    margin: 26px;
  }
}

@media(max-width:1136px) {
  .comment {
   padding-right:10%;
 }
}





/**section-video**/

.video_list {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 3fr;
  gap: 30px 20px;
  padding:0;
  margin-top:30px;
  margin-right:50px;
  margin-left:50px;
}

.video_list .music_video {
  position:relative;
  padding-top:30px;
  padding-bottom:53.05%;
/**padding-bottom:56.25%;**/
  height:0;
  overflow:hidden;
}

.video_list .music_video iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.video_list .video_description {
  padding: 16px;
  padding-top: 40px;
  font-family: 'NanumSquare', sans-serif;
  font-size: 24px;
  font-weight: bold;
  word-break:keep-all;
}

/**responsive_check**/

@media(max-width:944px) {
  .video_list {
    display: flex;
    flex-direction: column;
    margin:10px;
    text-align: center;
    gap: 20px 0px;
  }

  .video_list .music_video {
    position:relative;
    padding:10px;
    padding-bottom:30%;
    padding-top:26.5%;
    height:0;
    overflow:hidden;
    /**min-height: 315px;**/
  }

  .video_list .video_description {
    word-break:keep-all;
    padding-top: 10px;
    padding-bottom:50px;
    font-size:20px;
  }

}
